@media (max-width: 1200px) {

}

@media (max-width: 991px) {
    .header {
        justify-content: space-around;
    }

    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .title {
        &_left {
            padding: 0 20px;
        }
    }
    .consultation {
        &__descr {
            padding: 0 20px;
        }
    }
    .feed-form {
        margin-left: 20px;
    }
    .modal {
        .feed-form_mt25 {
            margin-left: 0;
        }
    }
}

@media (max-width: 767px) {
    .header {
        flex-wrap: wrap;
        &__logo {
            width: 50%;
        }
        &__official {
            width: 50%;
        }
        &__contacts {
            flex-direction: row;
            margin-top: 10px;
            a {
                margin-right: 40px;
            }
        }
    }
    .promo {
        min-height: 536px;
        padding: 10px 5px;
        padding-bottom: 21px;
        &__wrapper {
            margin-top: 40px;
        }
        &__icons {
            margin-top: 35px;
        }
        .button {
            &_main {
                margin-top: 40px;
            }
        }
    }
    .advantages {
        &__wrapper {
            min-height: 400px;
        }
    }
    .carousel {
        &__inner {
            width: auto;
            img {
                width: 100%;
            }
            .slick-dots {
                display: flex;
                justify-content: center;    
            }
        }
    }
    .catalog {
        &__tab {
            width: 170px;   
        }
    }
    .catalog-item {
        width: 400px;
        margin: 0 auto;
    }
    .feed {
        &__inner {
            margin: 0 10px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        padding: 0 10px;
        &__contacts {
            width: 100%;
            align-items: center;
            flex-direction: column;
            a {
                font-size: 16px;
                margin: 0;
            }
        }
    }
    .button {
        margin: 10px;
    }
    .promo {
        &__subheader {
            text-align: center;
        }
        &__header {
            text-align: center;
        }
        &__icons {
            width: 100%;
        }
    }
    .carousel {
        padding: 40px 0;
    }
    .advantages {
        .title {
            padding-top: 20px;
        }
        &__wrapper {
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
        }
        &__item {
            width: 80%;
            max-width: none;
            margin-bottom: 20px;
        }
        &__subtitle {
            margin-top: 20px;
        }
    }
    .title {
        &_left {
            text-align: center;
            font-size: 30px;
        }
    }
    .consultation {
        padding: 50px 0;
        &__descr {
            text-align: center;
        }
    }
    .feed-form {
        margin: 0 auto;
        padding-top: 20px;
    }
    .button {
        &_submit {
            margin: 0;
        }
    }
    .catalog {
        padding-bottom: 40px;
        &__tabs {
            flex-direction: column;
            margin-top: 40px;
        }
        &__tab {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        .catalog-item {
            width: 80%;
        }
    }
    .feed {
        &__inner {
            flex-direction: column;
            align-items: center;
        }
        &__content {
            padding: 0 10px;
        }
        &__name {
            text-align: center;
        }
        &__skill {
            text-align: center;
        }
    }
    .footer {
        &__info {
            width: 320px;
        }
        &__social-item {
            width: 35px;
            height: 35px;
            img {
                height: 18px;
            }
        }
    }
    .modal {
        &__close {
            right: 10px;
            top: 10px;
        }
    }
}    